# macs
.DS_Store

# IDEs
.vscode
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# node/yarn
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env vars
.env
.env.local
.env.*.local

# compiled stuff
.cache/
public
static/admin/*.bundle.*
