</div>

  <!-- Footer -->
  <footer id="footer">
    <p class="copyright">&copy; {{ site.title }}</p>

    <div class="background-box">
      <a id="background-info" href="" title="" target="_blank">
        <p id="content-location-region"></p>
        <p id="content-location-country"></p>
      </a>
    </div>

  </footer>

</div>

<!-- BG -->
<div id="bg"></div>

<!-- Scripts -->
<script src="{{ 'assets/js/jquery.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/skel.min.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/util.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/earthview.js' | absolute_url }}"></script>
<script src="{{ 'assets/js/main.js' | absolute_url }}"></script>
